body {
  .main {
    p, .p {
      font-family: "Raleway", sans-serif;
      color: #000;
      font-size: 14px;
    }
    a {
      font-family: "Raleway", sans-serif;
    }
    h1, .h1 {
      font-family: "Raleway",sans-serif;
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: .05em;
      font-size: 40px;
      line-height: 1;
    }
    h2, .h2 {
      font-family: "Raleway", sans-serif;
      letter-spacing: .04em;
      font-weight: 500;
      color: #000;
    }
    h3, .h3 {
      font-family: "Raleway",sans-serif;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: .01em;
      font-size: 22px;
      line-height: 1;
    }
    .button {
      @include transition(all .4s ease-in);
      color: #fff;
      background-color: $secondary;
      line-height: 1;
      padding: 13px 18px;
      letter-spacing: .12em;
      font-size: 16px;
      text-transform: uppercase;
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      border: 2px solid $secondary;
      border-radius: 5px;
      &:hover {
        color: #fff;
        background-color: $secondary_darken;
        border-color: $secondary_darken;
      }
    }
    .button-black {
      @extend .button;
      background-color: $primary;
      border-color: $primary;
      &:hover {
        background-color: $primary_darken;
        border-color: $primary_darken;
        opacity: .7;
      }
    }
  }
}