$primary: #000;
$primary_darken: darken( $primary, 10% );
$secondary: #16a085;
$secondary_darken: darken( $secondary, 10% );

$primary_opaque: rgba(52,73,94, .65);
$seconday_opaque: rgba(22,160,133, .65);


