@media screen and (max-width: 767px) {
  body .main {
    h1, .h1 {
      font-size: 40px;
    }
    h2, .h2 {
      font-size: 25px;
    }
    .module-title {
      margin-bottom: 20px;
    }
  }

  .shop_isle_header_title {
    padding: 0 5px;
  }
  nav#main-menu .menu-item a {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 1;
    padding: 10px 0;
    &:after {
      display: none;
    }
    &:hover {
      color: $secondary;
    }
  }
  nav#main-menu {
    height: 100px;
  }
  .navbar-fixed-top .navbar-collapse {
    max-height: none;
    padding: 10px 0;
    &.in {
      overflow: visible;
    }
  }
}

@media screen and (max-width: 500px) {
  body .main {
    h1, .h1 {
      font-size: 35px;
    }
    h2, .h2 {
      font-size: 22px;
    }
  }

  .banners-carousel .banner-single {
    height: 500px !important;
  }
  .banners-carousel .banner-single .banner-title {
    margin-top: 75px;
  }
}

@media screen and (max-width: 398px) {
  .navbar-custom .navbar-cart {
    position: absolute;
    right: 0;
  }
  .header-container {
    position: relative;
  }
  .navbar-toggle {
    top: 15px;
  }
  .header-search-input {
    position: absolute;
    top: unset;
    bottom: -107px;
    width: 314px;
  }
}

@media screen and (max-width: 350px) {
  .logo-image img {
    max-width: 220px;
  }
  .header-search-input {
    bottom: -99px;
    width: 274px;
  }
}