.banners-carousel {
  .banner-single {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .banner-title {
      color: #fff;
      margin: 0;
      text-align: center;
    }
    .banner-subtitle {
      color: #fff;
      margin-top: 15px;
      text-align: center;
    }

    .banner-button {
      margin-top: 25px;
    }
  }
}