body .main {
  .shop-item, .products .product {
    .onsale {
      background-color: $seconday_opaque;
    }
    ins {
      text-decoration: none;
      .woocommerce-Price-amount {
        color: $secondary !important;
      }
    }
    .product-button-wrap {
      .add_to_cart_button {
        background: none !important;
        background-color: $secondary !important;
        border-color: $secondary !important;
        &:hover {
          background-color: $secondary_darken !important;
          border-color: $secondary_darken !important;
        }
      }
    }
    .shop-item-title {
      a {
        font-weight: 500;
      }
    }
    .woocommerce-loop-product__title {
      font-family: Raleway, sans-serif;
      font-weight: 500;
    }
    .woocommerce-Price-amount.amount {
      font-family: "Raleway", sans-serif !important;
    }
    .price {
      letter-spacing: .05em;
      .amount {
        letter-spacing: .05em !important;
      }
    }
  }
  .widget.woocommerce.widget_product_categories {
    .widget-title {
      @extend .h3;
      font-size: 16px;
      font-weight: 500;
      color: #000;
      padding-bottom: 5px;
      border-bottom: 2px solid $secondary;
    }
    .product-categories {
      .cat-item {
        padding-left: 0;
        padding-top: 0;
        margin-bottom: 10px;
        &:before {
          display: none;
        }
        a {
          font-family: Raleway, sans-serif;
          font-size: 14px;
          letter-spacing: .05em;
          font-weight: 500;
          color: #000;
          display: inline-block;
          position: relative;
          &:after {
            @include transition(all .4s ease-in-out);
            display: inline-block;
            content: '';
            background-color: $secondary;
            position: absolute;
            bottom: -3px;
            left: 0;
            height: 2px;
            width: 100%;
            opacity: 0;
          }
          &:hover {
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}