body {
  .woocommerce-message a.button,
  .woocommerce-info a.button {
    color: #fff;
  }
  &.woocommerce-account input[type="submit"] {
    @extend .button;
    border-radius: 5px;
    line-height: 1;
    height: auto;
    &:hover {
      border-width: 2px;
    }
  }
  .swoocommerce-breadcrumb {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000;
    a{
      font-family: "Raleway", sans-serif;
      color: $secondary;
      font-weight: 600;
      @include transition(all .4s ease-in-out);
      &:hover {
        color: $primary;
      }
    }
  }
}