footer.footer.bg-dark {
  font-size: 16px;

  .copyright {
    font-family: "Raleway", sans-serif;
    letter-spacing: .05em;
    color: #fff;
  }
  .shop-isle-poweredby-box {
    display: none;
  }
}