nav#main-menu {
  a {
    font-family: "Raleway", sans-serif;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 85px;
  @include transition(all .4s ease-in-out);
  &.navbar-transparent {
    height: 100px;
  }

  .shop_isle_header_title .site-description a {
    display: none;

  }
  .menu-item {
    a {
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      color: #fff;
      font-size: 14px;
      letter-spacing: .12em;
      line-height: 1;
      padding: 3px 20px;
      position: relative;
      &:after {
        display: inline-block;
        content: '';
        background-color: $secondary;
        height: 3px;
        position: absolute;
        bottom: -2px;
        width: calc(100% - 40px);
        left: 20px;
        opacity: 0;
        @include transition(all .4s ease-in);
      }
      @include transition(all .4s ease-in);
      &:hover {
        &:after {
          opacity: 1;
        }
      }
    }
  }
  .nav-bar-cart {
    width: 100px;
    padding-left: 40px;
  }
  .icon-basket {
    color: $secondary;
    font-size: 13px;
    line-height: 23px;
  }
  .cart-item-number {
    background: #fff;
    top: 10px;
    left: 8px;
  }
  .header-search-button {
    color: #fff;
  }
  .header-search-input {
    background: $secondary;
  }
}
.main .module:nth-of-type(2){
  padding: 40px 0 130px 0;
}
