.woocommerce-account {
  .woocommerce-form-login {
    .woocommerce-Button.button {
      background: none;
      color: $secondary;
      background-color: #fff;
      border-radius: 5px;
      border: 2px solid $secondary;
      font-size: 16px;
      line-height: 1;
      font-family: Raleway, sans-serif;
      letter-spacing: .12em;
      &:hover {
        color: #fff;
        background-color: $secondary;
      }
    }
  }

  .woocommerce-form__label-for-checkbox {
    margin-left: 5px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    input {
      margin: 0;
      margin-right: 5px;
    }
  }
}