.single-product {
  div.product-main-content {
    .product_title {
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      letter-spacing: .05em;
      color: #000;
      font-size: 26px;
      line-height: 1.1;
    }
    .price {
      font-family: "Raleway", sans-serif;
      font-weight: 500;
      letter-spacing: .05em;
      .amount {
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        letter-spacing: .05em;
        color: #000;
      }
      ins .amount {
        color: $secondary;
      }
    }
    form.cart {
      .single_add_to_cart_button {
        &:hover {
          background: none;
          background-color: $secondary_darken;
        }
      }
      .single_variation_wrap {
        .woocommerce-variation-add-to-cart {
          display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
          display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
          display: -ms-flexbox;      /* TWEENER - IE 10 */
          display: -webkit-flex;
          display: flex;
          flex-direction: row;
          align-items: flex-end;
        }
      }
    }
    .product_meta {
      .sku_wrapper {
        display: none;
      }
    }
    .woocommerce-tabs {
      h2 {
        font-family: "Raleway", sans-serif;
        color: #000;
        letter-spacing: .05em;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 0;
      }
      ul.tabs {
        li, li.active {
          a {
            color: #000;
          }
        }
      }
    }

    .woocommerce-product-gallery {
      .flex-control-thumbs li {
        width: 22%;
        margin: 1%;
      }
    }
  }

  .sale-timer {
    font-family: Raleway,sans-serif;
    letter-spacing: .05em;
    font-size: 18px;
    color: $primary;
  }
  #sale-countdown {
    margin-left: 5px;
    border: 2px solid $primary;
    border-radius: 5px;
    font-weight: 500;
    padding: 8px;
    color: maroon;
  }

}