.module-small-shop {
  .woocommerce-ordering {
    width: 100%;
    text-align: right;
    padding: 0;
  }
  .sidebar-shop {
    padding-left: 0;
    padding-right: 30px;
  }
  .widget_product_search {
    input[type=submit] {
      @extend .button-black;
    }
  }
}
